<h3 class ="titulo-cadastro">Lista de medicos</h3>

@if (ViewBag.ListaMedicos != null)
{
    <div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do médico</th>
                <th>CRM/CRO</th>
                <th>Especialidade</th>
                <th>Telefone 1</th>
                <th>Telefone 2</th>
                <th>Email</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in (List<MedicoModel>)ViewBag.ListaMedicos)
                {
                    <tr>
                        <td>@item.NameDoctor</td>
                        <td>@item.CRM_CRO</td>
                        <td>@item.Speciality</td>
                        <td>@item.Phone_number_1</td>
                        <td>@item.Phone_number_2</td>
                        <td>@item.Email</td>
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdDoctor)">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdDoctor)">Excluir</button></td>
                    </tr>
                }
            }
        </tbody>

    </table>
    </div>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo Medico</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table th, .table td {
        white-space: nowrap;
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
     }
</style>

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Medico/CadastroMedico";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Medico/CadastroMedico/" + id;
        }
    }

    function Excluir(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Medico/Excluir/" + id;
        }
    }
</script>