@model DeclaracaoDiasModel

<h3>Declaração de dias</h3>
<br />
<div>
    <p>Declaro que o paciente: @Model.NamePatient, compareceu na clinica odontologica por motivo(s): @Model.Reason </p>
    <p>E por esse motivo solicitamos o repouso médico de @Model.DaysDeclaration dia(s) perante o(s) motivo(s) informado(s).</p>
    <br />
    <br />
    <br />
    <p>São Paulo, @Model.DateIssue.ToString("dd 'de' MMMM 'de' yyyy")</p>
    <br />
    <p>Ass do médico: </p>
    <br />
    <div class="linha-assinatura"></div>
    <br />
    <p>Dr(a): @Model.NameDoctor</p>
    <p>CRM/CRO: @Model.CrmCro</p>
</div>

<style>

    h3 {
        text-align: center;
        font-size: 35px; /* Ajusta o tamanho dos títulos */
    }

    .linha-assinatura {
        border-bottom: 2px solid black;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>