@model DeclaracaoDiasModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ShowHeader"] = false; // Esconde a barra do layout
}

<h3 id="nomeEmpresa">Odonto XV</h3>

<div>
    <img src="@Url.Content("~/images/LogoDentista.png")" id="Logo" />

    <p id="Endereco1">Endereço: Avenida José Vieira Guimarães, N° 130</p>
    <p id="Endereco2">Bairro: Jd Giannetti - São Paulo - SP</p>
</div>

<hr />

<h4 id="tituloDeclaracao">Declaração de dias</h4>
<br />
<div id="Declaracao">
    <p>Declaro que o paciente: @Model.NamePatient, portador do RG/RNE: @Model.RgRne, compareceu nesta clinica odontologica por motivo(s): @Model.Reason. </p>
    <p>E por esse motivo solicitamos o repouso médico de @Model.DaysDeclaration dia(s) perante o(s) motivo(s) informado(s).</p>
    <br />
    <br />
    <br />
    <p>São Paulo, @Model.DateIssue.ToString("dd 'de' MMMM 'de' yyyy")</p>
    <br />
    <p>Ass do médico: </p>
    <br />
    <div class="linha-assinatura"></div>
    <br />
    <p>Dr(a): @Model.NameDoctor</p>
    <p>CRM/CRO: @Model.CrmCro</p>
</div>

<style>

    hr {
        border: none !important;
        border-top: 2px solid black !important;
        color: black;
        height: 2px !important;
        margin: 20px 0 !important;
    }

    .linha-assinatura {
        border-bottom: 2px solid black;
        width: 500px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #tituloDeclaracao {
        font-size: 26px; /* Ajusta o tamanho dos títulos */
        text-align: center;
        font-family: Calibri;
        font-weight: bold;
    }

    #Declaracao{
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
    }

    #Logo {
        height: 130px;
    }

    #Endereco1 {
        margin-left: 120px;
        margin-top: -70px;
        text-align: center;
        font-family: Calibri;
        font-size: 22px;
    }

    #Endereco2 {
        margin-left: 120px;
        margin-top: -10px;
        text-align: center;
        font-family: Calibri;
        font-size: 22px;
    }

    #nomeEmpresa {
        text-align: center;
        font-family: Calibri;
        font-size: 26px;
        font-weight: bold;
        margin-top: -10px;
    }
</style>