<h3 class="titulo-cadastro">Lista de Logins</h3>

<div>
    <!-- Campo de pesquisa -->
    <input type="text" id="searchInput" class="form-control" placeholder="Pesquise login" onkeyup="filtrarLogin()" />
    <br />
</div>

@if (ViewBag.ListaAcessos != null)
{
    <div class="table-container">
        <table class="table table-bordered" id="loginTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Email</th>
                <th>Acesso Bloqueado?</th>
                <th>Perfil</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in (List<AcessoModel>)ViewBag.ListaAcessos)
                {
                    <tr>
                        <td>@item.NamePeople</td>
                        <td>@item.LoginUser</td>
                        <td>@item.Email</td>
                        <td>@item.BlockUser</td>
                        <td>@item.NameProfile</td>
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdLogin)">Editar</button></td>
                    </tr>
                }
            }
        </tbody>

    </table>
    </div>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo login</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table th, .table td {
        white-space: nowrap;
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }
</style>

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Configuracoes/CadastroLogin";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Configuracoes/CadastroLogin/" + id;
        }
    }

    function filtrarLogin() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toLowerCase();
        var table = document.getElementById("loginTable");
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) { // Começa do índice 1 para ignorar o cabeçalho
            var productCell = rows[i].getElementsByTagName("td")[1]; // Coluna a ser pesquisada
            if (productCell) {
                var productName = productCell.textContent || productCell.innerText;
                if (productName.toLowerCase().indexOf(filter) > -1) {
                    rows[i].style.display = ""; // Mostra a linha
                } else {
                    rows[i].style.display = "none"; // Oculta a linha
                }
            }
        }
    }
</script>