<h3 class="titulo-cadastro">Lista de remedios para receitas</h3>

@if (ViewBag.ListaRemedios != null)
{

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo remédio</button>
    <button class="btn btn-block btn-success" type="button" onclick="ReceitaMedica()" id="btnReceita">Gerar receita médica</button>
    <br />
    <br />
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Produto</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in (List<ProdutoReceitaModel>)ViewBag.ListaRemedios)
                    {
                        <tr>
                            <td><img src="@(string.IsNullOrEmpty(item.LinkPhotoRevenue) ?"/images/Remedios.png " : item.LinkPhotoRevenue)" width="50" height="50" /></td>
                            <td>@item.NameProduct</td>
                            <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdProductRevenue)">Editar</button></td>
                            <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdProductRevenue)">Excluir</button></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

        .table th, .table td {
            white-space: nowrap;
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }

            .table td img {
                width: 50px;
                height: 50px;
                border-radius: 50%; /* Deixa a imagem redonda */
                object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
            }

        .table th {
            background-color: #f2f2f2;
        }

        #btnReceita{
            margin-left: 20px;
        }
</style>

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../ProdutosEstoque/CadastroRemedio";
        }
    }

    function ReceitaMedica() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Prontuario/Receita";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../ProdutosEstoque/CadastroRemedio/" + id;
        }
    }

    function Excluir(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../ProdutosEstoque/ExcluirProdutoPaciente/" + id;
        }
    }

</script>