<h3>Lista de tipos de consultas</h3>

@if (ViewBag.ListaTipoConsultas != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do consulta médica</th>
                <th>R$ - Valor da consulta</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in (List<TipoConsultaModel>)ViewBag.ListaTipoConsultas)
                {
                    <tr>
                        <td>@item.descMedicalConsultation</td>
                        <td>@item.valueConsultation</td>
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdMedicalConsultation)">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdMedicalConsultation)">Excluir</button></td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo tipo de consulta</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/CadastroTipoConsulta";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/CadastroTipoConsulta/" + id;
        }
    }

    function Excluir(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/Excluir/" + id;
        }
    }
</script>