<h3 class="titulo-cadastro">Lista de tipos de consultas</h3>

@if (ViewBag.ListaTipoConsultas != null)
{
    <div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome da consulta médica</th>
                <th>R$ - Valor da consulta</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in (List<TipoConsultaModel>)ViewBag.ListaTipoConsultas)
                {
                    <tr>
                        <td>@item.descMedicalConsultation</td>
                        <td>R$ @item.valueConsultation</td>
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdMedicalConsultation)">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdMedicalConsultation)">Excluir</button></td>
                    </tr>
                }
            }
        </tbody>

    </table>
    </div>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo tipo de consulta</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />
<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table th, .table td {
        white-space: nowrap;
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }
</style>
<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/CadastroTipoConsulta";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/CadastroTipoConsulta/" + id;
        }
    }

    function Excluir(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../TipoConsulta/Excluir/" + id;
        }
    }
</script>