@model AgendamentoModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h3 class="titulo-cadastro">Enviar Mensagem</h3>

<form asp-controller="Agendamento" asp-action="EnviarMensagem">
    <input type="hidden" asp-for="IdMedConsXPat" />

<div class="form-group">
    <label>Paciente</label>
    <input type="text" class="form-control" readonly value="@ViewBag.NomePaciente" />
    <input type="hidden" asp-for="IdPatients" />
    <span asp-validation-for="IdPatients" class="text-danger"></span>
</div>
<br />
    <div class="form-group">
        <label>Telefone 1</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Telefone1" />
        <input type="hidden" asp-for="PhoneNumber1" />
        <span asp-validation-for="PhoneNumber1" class="text-danger"></span>        
    </div>
    <br />
    <div class="form-group">
        <label>Telefone 2</label>
        <input type="text" class="form-control" readonly value="@ViewBag.Telefone2" />
        <input type="hidden" asp-for="PhoneNumber2" />
        <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <br />
        <label>Tipo de envio</label>
        <select asp-for="StatusConsultation" class="form-control">
            <option value="WhatsApp">WhatsApp</option>
            <option value="SMS">SMS</option>
        </select>
        <span asp-validation-for="StatusConsultation" class="text-danger"></span>
    </div>
    <br />
    <div>
        <h5>Mensagem ao paciente</h5>
        <br />
        <p>Olá, @ViewBag.NomePaciente, tudo bem?</p>
        <br />
        <p>Passando para lembrar que a sua consulta está agendada para o dia @ViewBag.DataConsulta às @ViewBag.HorarioConsulta.</p>
        <br />
        <p>Você confirma a sua presença?</p>
    </div>

    <button type="submit" class="btn btn-success">Enviar Mensagem</button>
</form>

<style>
    .alert-danger {
        font-size: 16px;
        font-weight: bold;
    }
</style>