<h3 class="titulo-cadastro">Agendamentos</h3>

@if (ViewBag.ListaAgendamentoAmanha != null && ViewBag.ListaAgendamentoAmanha.Count > 0)
{
    <div id="alerta-consultaamanha" class="alert alert-warning">
        @foreach (var item in (List<AgendamentoModel>)ViewBag.ListaAgendamentoAmanha)
        {
            <p>O paciente @item.NamePatient tem agendamento amanhã das @item.DateConsultationStart.ToString("dd/MM/yyyy HH:mm") até as @item.DateConsultationFinish.ToString("dd/MM/yyyy HH:mm"), para fazer uma @item.NameMedicalConsultation, não esqueça de enviar a mensagem para ele 😉<br /></p>
        }
    </div>
}

@if (ViewBag.ListaAgendamento != null)
{
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Paciente</th>
                    <th>CPF ou CNPJ do paciente</th>
                    <th>Médico</th>
                    <th>CRM/CRO</th>
                    <th>Consulta solicitada</th>
                    <th>Data e hora inicial</th>
                    <th>Data e hora final</th>
                    <th>Status</th>
                    <th>Observacao</th>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in (List<AgendamentoModel>)ViewBag.ListaAgendamento)
                    {
                                <tr>
                                    <td><img src="@(string.IsNullOrEmpty(item.LinkPhoto) ?"/images/SemFoto.png " : item.LinkPhoto)" width="50" height="50" /></td>
                                    <td>@item.NamePatient</td>
                                    <td>@item.CpfCnpj</td>
                                    <td>@item.NameDoctor</td>
                                    <td>@item.CrmCro</td>
                                    <td>@item.NameMedicalConsultation</td>
                                    <td>@item.DateConsultationStart.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.DateConsultationFinish.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.StatusConsultation</td>
                                    <td>@item.Reason</td>
                                    <td><button type="button" class="btn btn-success" onclick="EnviarMensagem(@item.IdMedConsXPat)">Enviar Mensagem</button></td>
                                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdMedConsXPat)">Editar</button></td>
                                    <td><button type="button" class="btn btn-danger" onclick="Cancelar(@item.IdMedConsXPat)">Cancelar</button></td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo agendamento</button>
    <button class="btn btn-block btn-success" type="button" onclick="ConsultasRealizadas()" id="realizadas">Consultas realizadas</button>
    <button class="btn btn-block btn-danger" type="button" onclick="ConsultasCanceladas()" id="canceladas">Consultas canceladas</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table th, .table td {
        white-space: nowrap;
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table td img {
        width: 50px;
        height: 50px;
        border-radius: 50%; /* Deixa a imagem redonda */
        object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    }

    .table th {
        background-color: #f2f2f2;
    }

    #realizadas{
        margin-left: 25px;
    }

    #canceladas {
        margin-left: 25px;
    }
</style>

<script>

    // Esconde o balão após 5 segundos (5000 ms)
    setTimeout(function () {
        var alerta = document.getElementById("alerta-consultaamanha");
        if (alerta) {
            alerta.style.display = "none";
        }
    }, 5000); // Tempo em milissegundos


    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function EnviarMensagem(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/EnviarMensagem/" + id;
        }
    }

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/CadastroAgendamento";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/CadastroAgendamento/" + id;
        }
    }

    function Cancelar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/CancelamentoAgendamento/" + id;
        }
    }

    function ConsultasRealizadas() { 
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/ConsultasRealizadas";
        }
    }


    function ConsultasCanceladas() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Agendamento/AgendamentosCancelados";
        }
    }

</script>