@model ReceituarioModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ShowHeader"] = false; // Esconde a barra do layout
}
<h3 id="nomeEmpresa">Odonto XV</h3>

<div>
    <img src="@Url.Content("~/images/LogoDentista.png")" id="Logo" />

    <p id="Endereco1">Endereço: Avenida José Vieira Guimarães, N° 130</p>
    <p id="Endereco2">Bairro: Jd Giannetti - São Paulo - SP</p>
</div>

<hr />
<h4 id="tituloReceituario">Receituario</h4>

<div>
    <strong id="tituloMedico">Dr(a):</strong> <p id="nomeMedico">@Model.NameDoctor</p>
</div>
<br />
<div>
    <strong id="tituloPaciente">Paciente:</strong> <p id="nomePaciente">@Model.NamePatient</p>
</div>
<br />
<div>
    <strong id="tituloDataEmissao">Data de Emissão:</strong> <p id="DataEmissao">@Model.DateIssuePrescriptions.ToString("dd/MM/yyyy")</p>
</div>

<hr />

<h4 id="tituloMedicamento">Medicamentos</h4>
<br />
<!--<p id="Remedios">@Model.Reason</p>-->
<p id="Remedios">@Html.Raw(Model.Reason)</p>
<br />

<style>
        body {
        font-size: 20px; /* Ajusta o tamanho geral do texto */
        }

    #tituloReceituario {
        font-size: 26px; /* Ajusta o tamanho dos títulos */
        text-align: center;
        font-family: Calibri;
        font-weight: bold;
    }

    #tituloMedico {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
    }

    #nomeMedico {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
        margin-left: 60px;
        margin-top: -26px;
    }

    #tituloPaciente {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
    }

    #nomePaciente {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
        margin-left: 90px;
        margin-top: -26px;
    }


    #tituloMedicamento {
        font-size: 26px; /* Ajusta o tamanho dos títulos */
        text-align: center;
        font-family: Calibri;
        font-weight: bold;
        margin-top: 10px;
    }

    #nomeEmpresa {
        text-align: center;
        font-family: Calibri;
        font-size: 26px;
        font-weight: bold;
    }

    #tituloDataEmissao {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
    }

    #DataEmissao {
        font-size: 22px; /* Ajusta o tamanho dos parágrafos */
        font-family: Calibri;
        margin-left: 170px;
        margin-top: -26px;
    }

    #Remedios {
        white-space: pre-wrap; /* Ignorar quebras de linha adicionais */
        margin-bottom: 10px; /* Ajusta o espaçamento se necessário */
        font-size: 22px;
        text-align: left;
    }

    #Logo {
        height: 130px;
    }

    #Endereco1 {
        margin-left: 120px;
        margin-top: -70px;
        text-align: center;
        font-family: Calibri;
        font-size: 22px;
    }

    #Endereco2 {
        margin-left: 120px;
        margin-top: -10px;
        text-align: center;
        font-family: Calibri;
        font-size: 22px;
    }

</style>
