<h3 class="titulo-cadastro">Lista de pacientes</h3>

@if (ViewBag.ListaPacientes != null)
{
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>CPF_CNPJ</th>
                    <th>RG_RNE</th>
                    <th>Nome do paciente</th>
                    <th>Data de nascimento</th>
                    <th>CEP</th>
                    <th>Endereço</th>
                    <th>N°</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Telefone 1</th>
                    <th>Telefone 2</th>
                    <th>Email</th>
                    <th>Plano de saude</th>
                    <th>Cobertura</th>
                    <th>N° do cartao</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in (List<PacienteModel>)ViewBag.ListaPacientes)
                    {
                        <tr>
                            <td><img src="@item.LinkPhoto" width="50" height="50" /></td>
                            <td>@item.CpfCnpj</td>
                            <td>@item.RgRne</td>
                            <td>@item.NamePatient</td>
                            <td>@item.BornDate</td>
                            <td>@item.ZipCode</td>
                            <td>@item.AddressPatient</td>
                            <td>@item.Number</td>
                            <td>@item.Complement</td>
                            <td>@item.District</td>
                            <td>@item.City</td>
                            <td>@item.CodeUf</td>
                            <td>@item.PhoneNumber1</td>
                            <td>@item.PhoneNumber2</td>
                            <td>@item.Email</td>
                            <td>@item.NamePlan</td>
                            <td>@item.Coverage</td>
                            <td>@item.CardNumberPlan</td>
                            <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdPatients)">Editar</button></td>
                            <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdPatients)">Excluir</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />

    <button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo Paciente</button>
}
else
{
    <p>Sem conexão com a internet! Verifique sua conexão com a internet e tente novamente.</p>
}
<br />

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .table-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table {
        white-space: nowrap;
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove margens */
        padding: 0; /* Remove padding */
    }

    .table th, .table td {
        white-space: nowrap;
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }
</style>

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });

    function Cadastrar() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Paciente/CadastroPaciente";
        }
    }

    function Editar(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Paciente/CadastroPaciente/" + id;
        }
    }

    function Excluir(id) {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../Paciente/Excluir/" + id;
        }
    }
</script>